@font-face {
  font-family: 'colombia';
  font-display: swap;
  src: url('../fonts/woff2/Colombia.woff2') format('woff2'),
    url('../fonts/woff/Colombia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
