@font-face {
  font-family: 'Nimbus Mono L';
  font-display: swap;
  src: url('../fonts/woff2/nimbusmono-regular.woff2') format('woff2'),
    url('../fonts/woff/nimbusmono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
