<twig:page-container>
	<twig:block name="content">
		<div class="text-end my-5">
			<twig:button :href="content.url">
				{{ content.label }}
			</twig:button>
		</div>
	</twig:block>
</twig:page-container>
