{% set buttonContent %}
	<div class="text-end my-5">
		{% include "includes/common/_button.html.twig" with {
			'url': content.url,
			'label': content.label,
		} %}
	</div>
{% endset %}

{% include "includes/common/_page_container.html.twig" with {'content': buttonContent} %}
