{% set titleSort = view.definitions.sortBy == 'translation.title' %}

{% if titleSort %}
  {% set letter = null %}
  {% set letterItems = [] %}
  <dl class="flex flex-col gap-7">
    {% for definition in content.definitions %}
      {% set definition = definition.resource %}

      {% if loop.last %}
        {% set letterItems = letterItems|merge([definition]) %}
      {% endif %}

      {% if (definition.title|first|lower != letter or loop.last) and not loop.first %}
        {% embed "includes/common/_page_container.html.twig" with {
          letterItems: letterItems,
        } only %}
          {% block content %}
            {% embed "includes/common/_definition_grid.html.twig" with {
              letterItems: letterItems,
            } only %}
              {% block content %}
                {% for item in letterItems %}
                  <twig:definition :definition="item"/>
                {% endfor %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}

        
        
        {% set letterItems = [] %}
      {% endif %}

      {% if definition.title|first|lower != letter %}
        {% set letter = definition.title|first|lower %}
        {% if not loop.first %}</div>{% endif %}

        <div class="flex flex-col gap-2">
        <dt
          class="shadow-fake-border shadow-outline dark:shadow-outline-invert py-1 px-2 mb-2 bg-black/2.5
          dark:bg-black/10 text-center text-xl font-bold"
        >
          {{ letter|upper }}
        </dt>
      {% endif %}

      {% set letterItems = letterItems|merge([definition]) %}

      {% if loop.last %}</div>{% endif %}
    {% endfor %}
  </dl>
{% else %}
  <ul>
    {% for definition in content.definitions %}
      {% set definition = definition.resource %}
      <li>
        <twig:definition :definition="definition"/>
      </li>
    {% endfor %}
  </ul>
{% endif %}

