{% set titleSort = view.definitions.sortBy == 'translation.title' %}

{% if titleSort %}
  {% set currentLetterItems = [] %}

  <dl class="flex flex-col gap-7">
    {% for definition in content.definitions %}
      {% set definition = definition.resource %}
      {% set currentLetter = definition.title|first|lower %}

      {% if not loop.last %}
        {% set nextLetter = content.definitions[loop.index0 + 1].resource.title|first|lower %}
      {% else %}
        {% set nextLetter = null %}
      {% endif %}

      {% set currentLetterItems = currentLetterItems|merge([definition]) %}

      {% if currentLetter != nextLetter %}
        <div class="flex flex-col gap-2">
          <dt
            class="shadow-fake-border shadow-outline dark:shadow-outline-invert py-1 px-2 mb-2 bg-black/2.5
            dark:bg-black/10 text-center text-xl font-bold"
          >
            {{ currentLetter|upper }}
          </dt>

          <twig:page-container>
            <twig:block name="content">
              <twig:definition-grid>
			          <twig:block name="content">
                  {% for item in currentLetterItems %}
                    <twig:definition :definition="item"/>
                  {% endfor %}
                </twig:block>
              </twig:definition-grid>
            </twig:block>
          </twig:page-container>
        </div>

        {% set currentLetterItems = [] %}
      {% endif %}
    {% endfor %}
  </dl>
{% else %}
  <ul>
    {% for definition in content.definitions %}
      {% set definition = definition.resource %}
      <li>
        <twig:definition :definition="definition"/>
      </li>
    {% endfor %}
  </ul>
{% endif %}

