<div class="{{ null != previousBlockType ? 'my-12' : 'mb-12' }}">
	{% set gridItems %}
		{% for page in content.pages %}
			{% include "includes/common/_card.html.twig" with {
				url: sulu_content_path(page.url),
				image: page.excerpt.images[0]|default(page.coverImage|default),
				title: page.excerptTitle|default(page.title),
				description: page.excerptDescription,
			} %}
		{% endfor %}
	{% endset %}

	{% include "includes/common/_card_grid_container.html.twig" with {
		'content': gridItems,
		'id': 'smart-pages-' ~ id,
	} %}
	
	{% set currentPageIndex = view.pages.page %}
	
	{% if currentPageIndex - 1 >= 1 or view.pages.hasNextPage %}
		{% set blockContent %}
			<div class="flex flex-row">
				{% if currentPageIndex - 1 >= 1 %}
					{% set url = sulu_content_path(parentContent.url) ~ '?p=' ~ (currentPageIndex - 1) ~ '#smart-pages-' ~ id %}
						<div class="w-full text-start my-5">
							{% include "includes/common/_button.html.twig" with {
								'url': url,
								'label': '&laquo; Page précédente',
								'small': true,
							} %}
						</div>
				{% endif %}
		
				{% if view.pages.hasNextPage %}
					{% set url = sulu_content_path(parentContent.url) ~ '?p=' ~ (currentPageIndex + 1) ~ '#smart-pages-' ~ id %}
					<div class="w-full text-end my-5">
						{% include "includes/common/_button.html.twig" with {
							'url': url,
							'label': 'Page suivante &raquo;',
							'small': true,
						} %}
					</div>
				{% endif %}
			</div>
		{% endset %}

		{% include "includes/common/_page_container.html.twig" with {'content': blockContent} %}
	{% endif %}
</div>

