{% if (previousBlockType == 'rich_text' or previousBlockType == 'button') and content.separator %}
  <hr>
{% endif %}

<twig:page-container>
  {% if content.title %}
    <h2>{{ content.title }}</h2>
  {% endif %}
  
  <div class="text-justify">{{ content.text|raw }}</div>
</twig:page-container>


