{% if (previousBlockType == 'rich_text' or previousBlockType == 'button') and content.separator %}
  <hr>
{% endif %}

<twig:page-container>
  <twig:block name="content">
    {% if content.title %}
      <h2>{{ content.title }}</h2>
    {% endif %}
    
    <div class="text-justify">{{ content.text|raw }}</div>
  </twig:block>
</twig:page-container>


