{% extends 'base_fullart.html.twig' %}

{% set backgroundImage = asset('build/website/images/Messier_87.jpg') %}
{% set title = "Error " ~ status_code %}

{% block content %}
    <p class="text-center">
        {{ status_text }}
    </p>
{% endblock %}
