{% if content.blocks|default([])|length %}
	<div class="prose dark:prose-invert max-w-none">
		{% for block in content.blocks %}
			{% include 'includes/blocks/_' ~ block.type ~ '.html.twig' with {
        'id': loop.index,
        'content': block,
        'parentContent': content,
        'view': view.blocks[loop.index0],
        'previousBlockType': loop.index0 > 0 ? content.blocks[loop.index0 - 1].type : null,
        'nextBlockType': loop.last ? null : content.blocks[loop.index0 + 1].type,
      } only %}
		{% endfor %}
	</div>
{% endif %}
