<div class="relative overflow-hidden w-full h-[48rem] dark:border-b border-zinc-700"
     x-data="{ scrollPosition: window.pageYOffset }"
     @scroll.window="scrollPosition = window.pageYOffset">
     <div class="absolute w-full h-full flex items-center justify-center bg-gradient-to-b from-black/0 via-black/30 to-black/0 text-white"
          x-bind:style="{ top: scrollPosition / 2 + 'px' }">
          <h1 class="text-5xl font-light font-nimbus">{{ contentTitle }}</h1>
     </div>
     <img src="{{ asset('build/website/images/NGC_1952.jpg') }}"
          alt=""
          class="relative z-[-1] h-full w-full object-cover  bg-slate-600"
          x-bind:style="{ top: scrollPosition / 1.5 + 'px' }"
          loading="lazy"/>
</div>
