<div class="overflow-hidden w-full h-[48rem] bg-black/10 shadow-[inset_0_0_8rem_2rem_rgb(0,0,0,0.3)]">
	<img src="{{ asset('build/website/images/NGC_1952.jpg') }}" alt="" class="relative z-[-1] h-full w-full object-cover hiden" x-data="{ scrollPosition: window.pageYOffset }" @scroll.window="scrollPosition = window.pageYOffset" x-bind:style="{ top: scrollPosition / 1.5 + 'px' }">
</div>
