<nav class="fixed z-10 h-screen bg-zinc-900 text-white border-r border-outline-invert font-colombia">
  <ul class="flex flex-col h-full">
    <div class="h-full mb-[-1px] overflow-y-auto">
      {% include 'includes/navigation/_item.html.twig' with {
        url: sulu_content_root_path(),
        label: 'app.homepage'|trans,
        iconSrc: asset('build/website/images/home.svg'),
      } %}
	
      {% for item in sulu_navigation_root_tree('main', 1, true) %}
        {% set menuIcon = item.excerpt.menu_icon %}
        {% include 'includes/navigation/_item.html.twig' with {
          url: sulu_content_path(item.url, item.webspaceKey),
          label: item.title,
          iconSrc: menuIcon != null ? asset('build/website/images/' ~ menuIcon ~ '.svg') : null
        } %}
      {% endfor %}
    </div>
    
    {% include 'includes/navigation/_item.html.twig' with {
      url: path('sulu_search.website_search'),
      label: 'app.search'|trans,
      iconSrc: asset('build/website/images/looking-glass.svg'),
      last: true
    } %}
  </ul>
</nav>
