{% extends "base.html.twig" %}

{% set headerTitle = content.title %}
{% set headerSubtitle = null %}

{% block content %}
<div class="prose dark:prose-invert">
    <h1>
        {{ content.title }}
    </h1>

    <div>
        {{ content.url }}
    </div>

    <h2>Form</h2>

    {% if app.request.get('send') != 'true' %}
        {{ form(typoForm) }}
    {% else %}
        Merci !
    {% endif %}
</div>
{% endblock %}
