{% extends "base.html.twig" %}

{% set headerTitle = content.title %}
{% set headerSubtitle = null %}

{% block content %}
    <h1>
        {{ content.title }}
    </h1>

    <div>
        {{ content.url }}
    </div>

    <div>
        {{ content.article|raw }}
    </div>
{% endblock %}
