<a href="{{ url }}"
   class="inline-block font-medium rounded no-underline text-white bg-gray-700 hover:bg-gray-800 dark:hover:bg-gray-600 transition-colors {{ small|default(false) ? 'text-xs px-3 py-2' : 'px-4 py-2' }}">
  {{ label|raw }}
</a>
