<article>
  <twig:Expandable>
      <twig:block name="header">
        <h1 class="text-end text-base font-semibold underline=">
          {{ definition.title }}
        </h1>
      </twig:block>
    
      <div class="overflow-hidden prose dark:prose-invert" >
        {{ definition.description|raw }}
      </div>
  </twig:Expandable>
</article>
