{% set titleContent %}
  <h1 class="text-base font-semibold underline m-0 cursor-pointer" >
    {{ definition.title }}
  </h1>
{% endset %}

{% set content %}
  <div class="overflow-hidden prose dark:prose-invert" >
    {{ definition.description|raw }}
  </div>
{% endset %}

<article>
  {% include "includes/common/_expandable.html.twig" with {
    'titleContent': titleContent,
    'content': content,
  } only %}
</article>
