<a href="{{ sulu_content_root_path() }}" class="block drop-shadow-vertical {{ class|default }}">
  <img src="{{ asset('build/website/images/logo.svg') }}"
       alt="Logo"
       loading="lazy"/>
</a>
