{% set currentPageIndex = view.page %}
	
{% if currentPageIndex - 1 >= 1 or view.hasNextPage %}
  {% set blockContent %}
    <div class="flex flex-row" id="{{ id }}-bottom">
      {% if currentPageIndex - 1 >= 1 %}
        {% set href = rootPath ~ '?p=' ~ (currentPageIndex - 1) ~ '#' ~ id ~ '-bottom' %}
          <div class="w-full text-start my-5">
            <twig:button :href="href" small>
              &laquo; {{ 'app.previous_page'|trans }}
            </twig:Button>
          </div>
      {% endif %}
  
      {% if view.hasNextPage %}
        {% set href = rootPath ~ '?p=' ~ (currentPageIndex + 1) ~ '#' ~ id %}
        <div class="w-full text-end my-5">
          <twig:button :href="href" small>
            {{ 'app.next_page'|trans }} &raquo;
          </twig:Button>
        </div>
      {% endif %}
    </div>
  {% endset %}

  {% include "includes/common/_page_container.html.twig" with {'content': blockContent} only %}
{% endif %}
