{% extends 'base_fullart.html.twig' %}

{% set title = 'Password Forget' %}

{% block content %}
  {% if app.request.get('send') == 'true' %}
    {% include "includes/common/_alert.html.twig" with {
      'style': 'success',
      'label': 'Click on the link in your email to reset your password.'
    } only %}
  {% else %}
    {{ form_start(form) }}
      {{ form_widget(form) }}

      <div class="flex justify-center gap-2">
        {% include "includes/common/_button.html.twig" with {
          'type': 'link',
          'href': path('sulu_community.login'),
          'label': 'Back',
          'small': true,
          'border': false,
        } only %}
        {% include "includes/common/_button.html.twig" with {
          'type': 'submit',
          'label': 'Submit',
          'small': true,
        } only %}
      </div>
    {{ form_end(form) }}
  {% endif %}
{% endblock %}
