{% extends 'base_fullart.html.twig' %}

{% set title = 'app.community.password_forget.title'|trans %}

{% block content %}
  {% if app.request.get('send') == 'true' %}
    {% include "includes/common/_alert.html.twig" with {
      'style': 'success',
      'label': 'app.community.password_forget.success_message'|trans
    } only %}
  {% else %}
    {{ form_start(form) }}
      {{ form_widget(form) }}

      <div class="col-span-12 flex justify-center gap-2">
        {% include "includes/common/_button.html.twig" with {
          'type': 'link',
          'href': path('sulu_community.login'),
          'label': 'app.back'|trans,
          'small': true,
          'border': false,
        } only %}
        {% include "includes/common/_button.html.twig" with {
          'type': 'submit',
          'label': 'app.submit'|trans,
          'small': true,
        } only %}
      </div>
    {{ form_end(form) }}
  {% endif %}
{% endblock %}
