{% extends 'base_fullart.html.twig' %}

{% set title = 'app.community.registration.title'|trans %}

{% block content %}
  {% if app.request.get('send') == 'true' %}
    {% include "includes/common/_alert.html.twig" with {
      'style': 'success',
      'label': 'app.community.registration.success_message'|trans,
    } only %}
  {% else %}
    {{ form(form) }}

    <p class="text-center mt-6">
      <a href="{{ path('sulu_community.login') }}" class="opacity-60 hover:opacity-75 transition-opacity">
        {{ 'app.community.registration.login'|trans }}
      </a>
    </p>
  {% endif %}
{% endblock %}
