{% extends 'base_fullart.html.twig' %}

{% set title = 'app.community.registration.title'|trans %}

{% block content %}
  {% if app.request.get('send') == 'true' %}
    <twig:alert variant="info">
      {{ 'app.community.registration.success_message'|trans }}
    </twig:alert>
  {% else %}
    {{ form(form) }}

    <p class="text-center mt-6">
      <a href="{{ path('sulu_community.login') }}" class="opacity-caption hover:opacity-hover transition-opacity">
        {{ 'app.community.registration.login'|trans }}
      </a>
    </p>
  {% endif %}
{% endblock %}
