{% extends 'skeleton.html.twig' %}

{% block body %}
  {% include "includes/_navigation.html.twig" %}
  
  <turbo-frame
    id="login-embed"
    data-turbo-permanent
    target="_top"
    src="{{ fragment_uri(controller('Sulu\\Bundle\\CommunityBundle\\Controller\\LoginController::embedAction', {
      '_portal' : request.portalKey|default('default_portal_key'),
      '_locale' : app.request.locale
    })) }}"
  > </turbo-frame>

  <div class="min-h-screen flex flex-col md:ml-24 transition-[margin]">
    {% include "includes/_header.html.twig" %}

    <div class="
      flex-grow lg:px-16
      bg-[linear-gradient(90deg,white_22px,transparent_1%),linear-gradient(white_22px,transparent_1%)]
      dark:bg-[linear-gradient(90deg,theme('colors.zinc.800')_22px,transparent_1%),linear-gradient(theme('colors.zinc.800')_22px,transparent_1%)]
      bg-neutral-300 dark:bg-neutral-700 bg-fixed bg-center bg-[length:24px_24px]
    ">
      <main class="overflow-hidden lg:max-w-4xl w-full mx-auto pb-8 min-h-screen lg:border-x border-outline dark:border-outline-invert bg-white dark:bg-zinc-800">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
