{% extends 'skeleton.html.twig' %}

{% block body %}
  <div class="fixed w-screen h-screen z-[-1] opacity-15 dark:opacity-10 bg-center dark:invert"
      style="background-image: url('{{ asset('build/website/images/dot.svg') }}')">
  </div>

  {% include "includes/_navigation.html.twig" %}
  
  {{ render_esi(controller('Sulu\\Bundle\\CommunityBundle\\Controller\\LoginController::embedAction', {
    '_portal' : request.portalKey|default('default_portal_key'),
    '_locale' : app.request.locale
  })) }}

  <div class="ml-24 min-h-screen flex flex-col">
    {% include "includes/_header.html.twig" %}
    {% include "includes/_main.html.twig" with { 'content': block('content') } %}
  </div>
{% endblock %}
