{% extends 'skeleton.html.twig' %}

{% block body %}
  {% include "includes/_navigation.html.twig" %}
  
  <turbo-frame
    id="login-embed"
    data-turbo-permanent
    target="_top"
    src="{{ fragment_uri(controller('Sulu\\Bundle\\CommunityBundle\\Controller\\LoginController::embedAction', {
      '_portal' : request.portalKey|default('default_portal_key'),
      '_locale' : app.request.locale
    })) }}"
  > </turbo-frame>

  <div class="min-h-screen flex flex-col md:ml-24 transition-[margin]">
    {% include "includes/_header.html.twig" %}

    <div class="flex-grow flex lg:px-16 bg-dotted dark:bg-dotted-invert bg-fixed">
      <div class="flex-grow flex flex-col justify-between overflow-hidden lg:max-w-4xl w-full mx-auto lg:border-x border-outline dark:border-outline-invert bg-body dark:bg-body-invert">
        <main class="pb-8">
          {% block content %}{% endblock %}
        </main>
        
        {% include "includes/_footer.html.twig" %}
      </div>
    </div>
  </div>

  {% include "includes/_snack_bar.html.twig" %}
{% endblock %}
