{% set defaultClass = 'border p-2 my-12 text-center font-bold first:child:mt-0 last:child:mb-0' %}

{% if variant == 'info' %}
  {% set defaultClass = defaultClass ~ ' bg-blue-100 border-blue-300 text-blue-900 dark:bg-blue-950 dark:border-blue-900 dark:text-blue-200' %}
{% elseif variant == 'success' %}
  {% set defaultClass = defaultClass ~ ' bg-green-100 border-green-300 text-green-900 dark:bg-green-950 dark:border-green-900 dark:text-green-300' %}
{% elseif variant == 'warning' %}
  {% set defaultClass = defaultClass ~ ' bg-orange-100 border-orange-300 text-orange-900 dark:bg-yellow-950 dark:border-yellow-900 dark:text-orange-300' %}
{% elseif variant == 'error' %}
  {% set defaultClass = defaultClass ~ ' bg-red-100 border-red-300 text-red-900 dark:bg-red-950 dark:border-red-900 dark:text-red-300' %}
{% else %}
  {% set defaultClass = defaultClass ~ ' border-outlinebg-black/5 dark:border-outline-invert dark:bg-white/5' %}
{% endif %}

{% if demissible %}
  {% set defaultClass = defaultClass ~ ' cursor-pointer' %}
{% endif %}

<div
  {{ attributes.defaults({
    class: defaultClass
  }) }}
  {%- if demissible -%}
    x-data="{ show: true }"
    x-show="show"
    x-on:click="show = false"
    x-transition.duration.250ms
    data-turbo-cache="false"
  {%- endif -%}
>
  {{ block('content') }}
</div>
