{% set defaultClass = 'w-fit h-fit inline-block font-medium no-underline border transition-colors' %}
{% set disabled = attributes.all.disabled is defined and attributes.all.disabled == true %}

{% if small %}
  {% set defaultClass = defaultClass ~ ' text-xs px-3 py-2' %}
{% else %}
  {% set defaultClass = defaultClass ~ ' px-4 py-2' %}
{% endif %}

{% if variant == 'error' %}
  {% set defaultClass = defaultClass ~ ' text-red-700 dark:text-red-500' %}
  {% if not disabled %}
    {% set defaultClass = defaultClass ~ ' hover:bg-red-500/5 dark:hover:bg-red-500/10' %}
  {% endif %}
{% else %}
  {% if not disabled %}
    {% set defaultClass = defaultClass ~ ' hover:bg-black/5 dark:hover:bg-white/5' %}
  {% endif %}
{% endif %}

{% if bordered %}
  {% if variant == 'error' %}
    {% set defaultClass = defaultClass ~ ' border-red-100 dark:border-red-500/35' %}
  {% else %}
    {% set defaultClass = defaultClass ~ ' border-outline dark:border-outline-invert' %}
  {% endif %}
{% else %}
  {% set defaultClass = defaultClass ~ ' border-transparent' %}
{% endif %}

{% if disabled %}
  {% set defaultClass = defaultClass ~ ' opacity-60 select-none cursor-default' %}
{% endif %}

{% if attributes.all.href is defined and not disabled %}
  <a
    {{ attributes.defaults({
      class: defaultClass
    }) }}
  >
    {{ block('content') }}
  </a>
{% else %}
  <button
    {{ attributes.defaults({
      class: defaultClass,
    }) }}
  >
    {{ block('content') }}
  </button>
{% endif %}
