<article x-data="{ expanded: false }" {{ attributes }}>
  <h1
    class="cursor-pointer text-center text-base font-semibold underline"
    @click="expanded = ! expanded"
  >
    {{ definition.title }}
  </h1>
  <div
    class="prose dark:prose-invert"
    x-bind:class="expanded ? 'line-clamp-none' : 'line-clamp-3'"
  >
    {{ definition.description|raw }}
  </div>
</article>
