<article x-data="{ expanded: false }" {{ attributes }}>
  <h1
    class="cursor-pointer text-center text-base font-semibold underline"
    @click="expanded = ! expanded"
  >
    {{ title }}
  </h1>
  <div
    class="prose dark:prose-invert line-clamp-3"
    x-bind:class="{
      'line-clamp-none': expanded, 
      'line-clamp-3': !expanded,
    }"
  >
    {{ description|raw }}
  </div>
</article>
