<div x-data="{ expanded: false }" {{ attributes }}>
  <div @click="expanded = ! expanded" class="cursor-pointer">
    {{ block('header') }}
  </div>
  <div
    x-show="expanded"
    {{ collapseMin|default == null ? 'x-collapse' : 'x-collapse.min.' ~ collapseMin }}
    x-cloak
    class="overflow-hidden"
  >
    {{ block('content') }}
  </div>
</div>
