<div x-data="{ expanded: false }" {{ attributes }}>
  <div @click="expanded = ! expanded" class="cursor-pointer">
    {{ block('header') }}
  </div>
  <div
    class="overflow-hidden"
    x-show="expanded"
    x-collapse
    x-cloak
  >
    {{ block('content') }}
  </div>
</div>
